@import 'vendors/_bootstrap.scss';

// Variables
$primary-color: #3B5A76;
$background-color: #EDEDED;
$text-color: #363636;
$font-size: 16px;

body {
	font-family: 'Open Sans', Arial, Tahoma;
	color: $text-color;
	background: $background-color;
	font-size: $font-size;
}

h2 {
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.4em;
}

.primary, strong, h2 {
	color: $primary-color;
}

.container-main {
	background: #FFF;
	margin-top: 80px;
	padding: 0 30px 30px 30px;
}

header {
	min-height: 100px;
	overflow: auto;
}

header h1 {
	margin: 0;
	padding: 20px 0 0 0;
	font-size: 2.2em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
	text-align: center;
	line-height: 1.4em;
}

.row {
	margin-bottom: 20px;
}

.profile_img {
	width: 160px;
	display: block;
	margin: auto;
	margin-top: -80px;
}

.line {
	max-width: 100%;
}

.contact_list {
	margin: 0;
	padding: 0;
}

.contact_list li {
	list-style: none;
	font-weight: bold;
	line-height: 3.2em;
}

.contact_list li span {
	margin: 0;
	padding: 0;
	display: block;
	line-height: 0.1em;
	margin-left: 37px;
	font-size: 0.75em;
	color: #CCC;
}

.media {
	background: $background-color;
	padding: 10px;
}

.media .media-left {
	text-align: center;
}

.media .media-heading {
	font-weight: bold;
}

.work_list li{
	list-style: none;
	float: left;
	padding:0 10px 0 10px;
	margin-bottom: 30px;
}

footer {
	background: $primary-color;
	color: #FFF;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
